*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #101010;
}
#logo{
    color:aliceblue;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: green;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: green;
    transition: all 0.5s;
}
#bth{
    background-color: green;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
#bth:hover{
    transform:scale(1.2)
}
#servies{
    background-color: #101010;
    width: 100%;
    padding: 58px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto ;
    text-align: center;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
#card{
    height: 365px;
    width: 335px;
    padding: 20px 30px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
#card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color:green;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
#par p{
    color: #fcfc;
    line-height: 16px;
    font-size: 15px;
    margin-bottom: 25px;
    text-align: justify;
}
#card .button{
    background-color: green;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 18px;
    border-radius: 30px;
    transition: all 2s;
}
#card .button:hover{
    background-color: transparent;
    border: 2px solid green ;
    cursor: pointer;
}
#bs{
    position: absolute;
    top: 325px;
    left: 110px;
}